In [1]:
#Q51
#판다스의 시리즈 클래스를 사용하기 위해 주로 사용하는 두 가지 방식으로 임포트해보세요.


import pandas as pd

#모르던 방법
from pandas import Series

In [5]:
#Q52
점수 = [100, 200, 300]
pd.Series(data = 점수)
print (pd.Series(data = 점수))

0    100
1    200
2    300
dtype: int64

In [ ]:
#Q53
i = ['철수', '영희', '아름']
pd.Series(점수, i)
print (pd.Series(점수, i))

철수    100
영희    200
아름    300
dtype: int64

In [ ]:
#Q54 !!!!!!!!!!오답
dict = []
dict.append({"index":'철수', "점수":100})
dict.append({"index":'영희', "점수":200})
dict.append({"index":'아름', "점수":300})
print(dict)
# 딕셔너리를 생성하여 시리즈 객체를 만든 것이아님
# 딕셔너리 리스트를 생성하였음.
print(pd.Series(['철수', '영희', '아름'], [100, 200, 300]))
# 딕셔너리를 이용하지 않음

[{'index': '철수', '점수': 100}, {'index': '영희', '점수': 200}, {'index': '아름', '점수': 300}]
100    철수
200    영희
300    아름
dtype: object

In [27]:
dict = {
    "철수": 100,
    "영희": 200,
    "아름": 300
}
s = Series(dict)
print(s)

철수    100
영희    200
아름    300
dtype: int64

In [29]:
#Q55
종목 = ['삼성전자', '셀트리온', '카카오', '삼성전자우', '현대바이오']
종가 = [73000, 356000, 367000, 68600, 34150]
pd.Series(종가, 종목)

삼성전자      73000
셀트리온     356000
카카오      367000
삼성전자우     68600
현대바이오     34150
dtype: int64

In [ ]:
#Q56
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print (s.index)
print (s)

Index(['철수', '영희', '아름'], dtype='object')
철수    100
영희    200
아름    300
dtype: int64

In [43]:
#57
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

print (s.values)

[100 200 300]

In [45]:
#58 !!!!!!!!!!! 안배웠는데 이런게 있다
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print( s.to_dict() )

{'철수': 100, '영희': 200, '아름': 300}

In [ ]:
#59
# 엑셀파일 만들려면 openpyxl 라이브러리 설치해야함
# pip install openpyxl
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s
s.to_excel("data.xlsx")

In [ ]:
#60
#데이터가 기입된 엑셀파일을 불러 올 수 있음
pd.read_excel("data.xlsx")
#엑셀 형식으로 표를 불러옴.
pd.read_excel('data.xlsx', index_col=0)[0]
#시리즈 객체로 불러옴.

철수    100
영희    200
아름    300
Name: 0, dtype: int64