In [2]:
import pandas as pd
#판다스의 별명을 pd로 지을게
pd.__version__
#판다스 버전 확인

'2.2.3'

In [15]:
a = [1,2,3,4]
#b = pd.array(a)
b = pd.Series(data=a)
#Series는 클래스 위의 행은 클래스를 생성하는 행
#대소문자 구분 확인 요망
print(b)
print(b.iloc[1])

0    1
1    2
2    3
3    4
dtype: int64
2

In [78]:
a = [1,2,3,4]

i = ['1','2','3','4']
# 로케이션 설정 배열
b = pd.Series(data = a, index = i)
# 로케이션 인덱스 값을 표현하기위해 인덱스 추가

print(b)
print(b.iloc[1], b.loc['1'])
print (b[2])
print (b["2"])
print(b[2])
# iloc (찐 인덱스), loc (로케이션 인덱스)

1    1
2    2
3    3
4    4
dtype: int64
2 1
3
2
3

C:\Users\hi\AppData\Local\Temp\ipykernel_7232\2469551791.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (b[2])
C:\Users\hi\AppData\Local\Temp\ipykernel_7232\2469551791.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(b[2])

In [30]:
print(b)
c = b[['1','3','2']]
#배열의 순서도 바꿀 수 있음
print(c)

1    1
2    2
3    3
4    4
dtype: int64
1    1
3    3
2    2
dtype: int64

In [35]:
import numpy as np
np.array(a)
d = np.array(a)
d*10

array([10, 20, 30, 40])

In [42]:
b
b>3

1    False
2    False
3    False
4     True
dtype: bool

In [45]:
b[b>3]

4    4
dtype: int64

In [49]:
b*10

1    10
2    20
3    30
4    40
dtype: int64

In [50]:
b.index

Index(['1', '2', '3', '4'], dtype='object')

In [53]:
b.values

array([1, 2, 3, 4])

In [56]:
b.index = list("abcd")
b

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
b.index = [5,4,3,2]
print (b)
print (b[0])

[2, 4, 6, 7, 9, 11, 13]

In [79]:
b.index = [5,'4',3,True]
b[True]
# 인덱스에 문자열도, 논리값도 넣을 수 있음
b.ndim
# 차원의 구조를 확인 할 수 있음
b.shape
#데이터의 갯수가 튜플형식으로 출력

(4,)

In [81]:
b['2'] = np.nan
b.isnull()
# 오답
# b[True]
b[b.isnull()]

2   NaN
dtype: float64

In [93]:
b[b.notnull()]

5       1.0
4       2.0
3       3.0
True    4.0
dtype: float64

In [94]:
print(b[2:4])
print(b['4':True])
print(b[3])
# 정수형 인덱스보다 로케이팅 인덱스가 더 우선이되어서 출력되는 것을 확인 할 수 있다.

3       3.0
True    4.0
dtype: float64
4       2.0
3       3.0
True    4.0
dtype: float64
3.0

In [100]:

pd.Series([3.0, 5.0, 7.0, 9.0, 11.0])

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float64

In [104]:
i = ['1st', '2nd', '3rd', '4th', '5th']
pd.Series(['가', '나', '다', '라', '마'], index = i)

1st    가
2nd    나
3rd    다
4th    라
5th    마
dtype: object

In [110]:
sample = pd.Series(['가', '나', '다', '라', '마'], ['1st', '2nd', '3rd', '4th', '5th'])
sample
sample[['2nd', '4th']]

2nd    나
4th    라
dtype: object

In [120]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample2
sample2[sample2 < 160]

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int32

In [146]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample3 = sample2[sample2 <= 170]
sample4 = sample3 [sample3 >= 130]
sample4

11    134
13    140
dtype: int32

In [128]:
pd.Series(['apple', np.nan, 'banana', 'kiwi', 'gubong'], ['가', '나', '다', '라', '마'])

가     apple
나       NaN
다    banana
라      kiwi
마    gubong
dtype: object

In [130]:
sample = pd.Series(['IT서비스', np.nan, '반도체', np.nan, '바이오', '자율주행'])
sample[sample.isnull()]

1    NaN
3    NaN
dtype: object

In [132]:
sample[sample.notnull()]

0    IT서비스
2      반도체
4      바이오
5     자율주행
dtype: object

In [135]:
np.random.seed(0)
sample = pd.Series(np.random.randint(100, 200, size=(10,)))
sample[2:7]

2    164
3    167
4    167
5    109
6    183
dtype: int32

In [137]:
np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
sample2['바':]

바    109
사    183
아    121
자    136
차    187
dtype: int32

In [140]:
np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
sample2['가':'다']

가    144
나    147
다    164
dtype: int32

In [141]:
np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
sample2['나':'바']

나    147
다    164
라    167
마    167
바    109
dtype: int32