In [ ]:
a={'key':'value'}
a
# 딕셔너리 만들기

{'key': 'value'}

In [ ]:
a['key']
#딕셔너리 키를 부르면 밸류가 나옴

'value'

In [ ]:
a.get('key')
#딕셔너리 겟 사용법

'value'

In [8]:

a['key']=100
a.get('key')
#밸류 바꾸기

100

In [14]:
a={'key':1, 'key':2}
a
# 밸류 바꾸기
# 키가 중복되면 맨 마지막 키로 수정 됨.

{'key': 2}

In [ ]:
del a['key']
a
# 키 하나만 지우는 거

{}

In [17]:
a.clear()
a
# 다 지우는거

{}

In [ ]:
a={
    "번호":1,
    "이름":"홍길동",
    "나이":19,
    "직업":"도둑"
}

{'번호': 1, '이름': '홍길동', '나이': 19, '직업': '도둑'}

In [23]:
#밸류를 리스트로 바꾸는 방법 (밸류가 2개 이상일 경우)
a ['직업'] = ['도둑','의적']
a

{'번호': 1, '이름': '홍길동', '나이': 19, '직업': ['도둑', '의적']}

In [30]:
'''
a['직업'][0]='나쁜놈'
a
'''
b=a['직업']
b[0] = '나쁜놈'
a

{'번호': 1, '이름': '홍길동', '나이': 19, '직업': ['나쁜놈', '의적']}

In [28]:
type(a)
#a의 타입이 뭐야?
#dict = 딕셔너리
type(a['직업'])
#a['직업']의 타입이 뭐야?
#list = 리스트

list

In [ ]:
# Q1. 리스트에 학생 정보가 들어 있는 자료형을 선택하여 추가하려고 한다.
# 예 {'no':1, 'name':'홍길동',...}
# 3명의 학생 정보를 담으려면 어떻게 해야 할까?
# keys = ['no', 'name', 'age']

Q1 = {'no':[1,2,3], 'name':['홍길동', '김민수', '이영희'], 'age':[19,20,21]}
# 오답
# 딕셔너리의 경우 데이터를 추가하거나 삭제하는 경우가 많기 때문에 덩어리로 넣는 방법이 좋을 수 있음.

['홍길동', '김민수', '이영희']

In [39]:
q1=[]
q1.append({'no':1, 'name':'홍길동', 'age':19})
q1.append({'no':2, 'name':'김민수', 'age':20})
q1.append({'no':3, 'name':'이영희', 'age':21})
q1

[{'no': 1, 'name': '홍길동', 'age': 19},
 {'no': 2, 'name': '김민수', 'age': 20},
 {'no': 3, 'name': '이영희', 'age': 21}]

In [43]:
if []:
    print ("참")
else:
    print ("거짓")

# 0 = 없다 = false

거짓

In [45]:
if [1]:
    print ("참")
else:
    print ("거짓")

참

In [47]:
if {}:
    print ("참")
else:
    print ("거짓")

거짓

In [49]:
bool('1')

True

In [51]:
if bool(''):
    print("true")
else :
    print ("false")

false

In [53]:
if bool('1'):
    print("true")
else :
    print ("false")

true

In [54]:
a=[1,2,3,4]
b=tuple(a)
c=list(b)
d=set(a)
print(type(a),type(d))

#set, tuple, list는 서로서로 형변환이 가능함.

<class 'list'> <class 'set'>

In [ ]:
# & 교집합 연산자, inersection 교집합 함수
# | 합집합 연산자, union 합집합 함수
# - 차집합 연산자, diffrence 차집합 함수
# add 집합에 원소를 더하는 함수
# update 집합에 집합을 더하는 함수
# remove 집합의 원소를 제거하는 함수.

In [57]:
s1 = set([1,2,3])
s1.update([3,4,5])
s1

{1, 2, 3, 4, 5}

In [ ]:
#[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144,...]

a = [0, 1]
for i in range(1, 10):
    a.append(a[i-1] + a[i])

    #오답
    #a[i+1] = a[i-1] + a[i]
a

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [66]:
arr = [1,2,0,3,5,4,7]
# 위의 배열을 사용하여 가장 긴 수열의 길이를 구하시오.

In [ ]:
arr = [1,2,0,3,5,4,7]
최대길이 = 1
연속 = 1
for i in range(1,len(arr)):
    # arr[1] = 2 
    # arr[0] = 1
    if arr[i] > arr[i-1]:
        연속 += 1
    else :
        # 수열이 되는지 확인 할 수 있도록 연속이 되는지 확인 하기 위한 코드
        print(최대길이,연속, max(최대길이,연속))
        최대길이 = max(최대길이,연속)
        연속 = 1
최대길이 = max(최대길이,연속)
print(최대길이)

# 연속되는 세 개의 수 구하기
#...

1 2 2
2 3 3
3