In [6]:
import pandas as pd

idx = ['가', '나', '다']
col = ['A', 'B', 'C']
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
df0 = pd.DataFrame(a, index = idx, columns = col)
df0

   A  B  C
가  1  2  3
나  4  5  6
다  7  8  9

In [7]:
df0.T

   가  나  다
A  1  4  7
B  2  5  8
C  3  6  9